
@{
    ViewBag.Title = "GuideLine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
}
<link href="~/Content/angular-busy.min.css" rel="stylesheet" />
<section role="main" class="content-body">
    @*<header class="page-header">
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">

                <li><span>Guidelines</span></li>
            </ol>
        </div>
    </header>

    <header class="page-header alert-messages">
        <div class="col-md-12" style="background:#fff;min-height:36px;text-align:center">
            <div class="col-md-4"></div>
            <div class="col-md-6" style="margin:1px 0 1px 0;">
                <div id="divNotifiy" class="alert" style="display:none;" ng-class="Notify">
                    <button type="button" class="close" ng-click="NotifiyResclose()"><i class="fas fa-times"></i></button>
                    <label ng-bind="Res" class="erroe-hold" />
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </header>*@
    <header class="alert-messages">
        <div class="col-md-12">
               <div class="col-md-6"></div>
            <div class="col-md-2">
                <div cg-busy="cgBusyPromises" style="margin-top: -45px;z-index: 11111;position:fixed;width:50%"> </div>
            </div>
        </div>
    </header>
    <div class="row" >
        <div class="col-xs-12">
            <div class="panel form-wizard" id="w4">
                <header class="panel-heading">
                    <h2 class="panel-title">Guideline Files</h2>
                </header>
                <form ng-controller="UploadController">
                    <div class="panel-body">
                        @*<div cg-busy="promise" style="top:50px"></div>*@
                        <div class="row">
                            <div class="col-md-12">

                                <button ng-click="showfields()" ng-show="viewadd" class="btn btn-primary pull-right"><img src="~/Images/upload.png" /> Upload</button>
                                <button ng-click="hidefields()" ng-show="viewclose" class="btn btn-primary pull-right"><img src="~/Images/upload.png" /> Upload</button>
                            </div>
                            <div class="form-group single-item">
                                <div class="col-md-12" ng-show="shinsertupdate">
                                    <div class="col-md-8">
                                        <label class="col-md-2 control-label">Upload File</label>
                                        <div class="col-md-7">
                                            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                                <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                                                <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span><input type="file" name="..." onchange="angular.element(this).scope().LoadFileData(this.files)"></span>
                                                <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <button class="btn btn-primary" ng-click="UploadFile()">Upload</button>&nbsp;

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12 no-padding">
                            <div class="flex-row flex-nowrap">

                                <div ng-repeat="x in Folderfiles" id="{{$index}}" class="flex-scroll">


                                    <div class="col-sm-2" style="text-align: center;margin-top:10px;border-right: 1px solid #ccc;">
                                        <a ng-show="@Request.RequestContext.HttpContext.Session["show"] == true" ng-click="Remove(x)" style="float: right;padding-left: 4px;cursor:pointer;" title="Delete"><i class="fa fa-trash" style="color: #dc7777;"></i></a>
                                        <a target="_blank" href="~/Guideline/{{x}}" style="color: #000;font-weight: 600;">
                                            <div ng-show="x.substr(x.lastIndexOf('.') + 1) == 'pdf'"><img src="~/Images/pdf-icon.png" /></div>
                                            <div ng-show="x.substr(x.lastIndexOf('.') + 1) == 'docx'"><img src="~/Images/word-icon.png" /></div>
                                            <div ng-show="x.substr(x.lastIndexOf('.') + 1) == 'xlsx'"><img src="~/Images/icon.png" /></div>

                                            <h5>{{x}}</h5>
                                        </a>
                                    </div>


                                </div>
                            </div>




                        </div>

                    </div>
                </form>
            </div>
        </div>
       
    </div>


    <form ng-controller="UploadController">
        <div class="row">
            <div class="col-xs-12">
                <section class="panel form-wizard" id="w4">
                    <header class="panel-heading">
                        <h2 class="panel-title">FAQ's</h2>
                    </header>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <div class="panel-group faq" id="accordion">
                                <div class="panel panel-accordion detail-plan">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapse in collapsed" data-toggle="collapse" href="#bulk">
                                                Material Master-BulkUpload
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="bulk" class="accordion-body collapse">

                                        <div class="panel-body">
                                            <div class="form-group single-item">
                                                <div class="col-md-12">
                                                    <div class="col-md-12">
                                                        <label class="col-md-3 control-label">Upload File</label>
                                                        <div class="col-md-8">
                                                            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                                                <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                                                                <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span><input type="file" name="..." onchange="angular.element(this).scope().LoadFileData1(this.files)"></span>
                                                                <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1 no-padding">
                                                            <button class="btn btn-primary"align="right" ng-click="UploadFileBulk()">Upload</button>&nbsp;&nbsp;&nbsp;

                                                        </div>

                                                        </div>
                                                    <div class="col-md-12 no-padding">
                                                        <div class="flex-row flex-nowrap">

                                                            <div ng-repeat="fle in Folderfiles1">


                                                                <div @*class="col-sm-2"*@ @*style="text-align:left;margin-top:10px;border-left: 1px solid #ccc;"*@>
                                                                    <a ng-show="@Request.RequestContext.HttpContext.Session["show"] == true" ng-click="Remove(fle)"></a>
                                                                    <a target="_blank" href="~/Guideline/{{fle}}" style="color: #000;font-weight: 300;">
                                                                        <div ng-show="fle.substr(fle.lastIndexOf('.') + 1) == 'xlsx'"><img src="~/Images/icon.png" /></div>

                                                                        <h6>{{fle}}</h6>
                                                                    </a>
                                                                </div>


                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                 
                                </div>
                                <div class="panel panel-accordion detail-plan">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapse in collapsed" data-toggle="collapse" href="#2">
                                                WHAT TYPE OF FILE DOES TOOL ACCEPT AND FORMAT?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="2" class="accordion-body collapse">
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <p><strong>Excel :- xls,xlsx</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-accordion detail-plan">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapse in collapsed" data-toggle="collapse" href="#3">
                                                HOW TO DOWNLOAD OVERALL DUMP DATA?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="3" class="accordion-body collapse">

                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <p>
                                                    <strong>
                                                        Overall dump data can be downloaded with respect to,<br />a.	Date modified: report > export > role > username > status (pending), by selecting the role of the user and name with respect to the file status and date, and even with the option of display fields in the downloaded excel format.
                                                        <br />b.	Without date modified: when selected without date, overall uploaded existing files in prosol can be downloaded
                                                    </strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="panel-group faq" id="accordion">
                                <div class="panel panel-accordion detail-plan">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapse in collapsed" data-toggle="collapse" href="#15">
                                                HOW ARE UOM SETTED IN TOOL?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="15" class="accordion-body collapse">

                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <p>
                                                    <strong>
                                                        1: In Prosol the UOM or Unit of Measure can be fixed with respect to Noun Modifier as Base UOM or against Characteristic Attribute.
                                                        <br /> i)	Base UOM: Data Dictionary > Create Template > Giving input Noun and Modifier
                                                        <br /> ii)	Attribute UOM: Can be added in Two Ways
                                                        <br /> a.	Against Noun Modifier: Data Dictionary > Create Template > Giving input Noun and Modifier > Selecting Attributes > Add UOM
                                                        <br /> b.	Bulk Upload: Data Dictionary > Create Template > UOM Bulk Upload
                                                        <br />
                                                        <br />
                                                        2: New UOM can also added to Prosol in
                                                        Material Master > Tools > Settings > Attribute UOM

                                                    </strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-accordion detail-plan">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapse in collapsed" data-toggle="collapse" href="#16">
                                                HOW TO UPLOAD BULK VENDOR LIST?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="16" class="accordion-body collapse">

                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <p><strong>Vendors Can Be Uploaded In Bulk From Material Master > Tools > Vendor Details > Bulk Upload > By Downloading The Excel Template</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-accordion detail-plan">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapse in collapsed" data-toggle="collapse" href="#17">
                                                HOW TO CREATE NEW UOM AGAINST ATTRIBUES AND WHO IS RESPONSIBLE TO CREATE?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="17" class="accordion-body collapse">
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <p>
                                                    <strong>
                                                        a. New UOM can be created from Material Master > Tools > Settings > Attribute UOM
                                                        <br />b.	Only Admin can create New UOM
                                                    </strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
</form>
</section>
            <script src="/Scripts/ctrls/Dashboardctrl.js"></script>
            <script src="/Scripts/angular-busy.min.js"></script>

            <style>
                .flex-row.flex-nowrap .flex-scroll .col-sm-2 {
                    width: 150px;
                    height: 150px;
                }

                .flex-row.flex-nowrap .flex-scroll {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .flex-row.flex-nowrap {
                    display: flex;
                    overflow: auto;
                }
            </style>
